<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in user</title>
    <style>
        body{
            /* background-image: url("/static/welcome.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: aqua;
        }
        h1{
            text-align: center;
        }
        p{
            text-align: center;
            
        }
        a{
            text-align: center;
            display: block;
            text-decoration: solid;
        }
        img{
        width: 1110px;
        height: 380px;
        }
            </style>
</head>
<body >
   <h1>welcome {{request.user}}</h1> 
    <p>
    <strong>Thank you!</strong><br><br>
    For visiting our website.
    This is the best website  and you are very lucky to access it.you reall engoy our website services.</p>
    <a href="/logout">Logout</a>
    <img src="/static/end.jpg" alt="" srcset="">
</body>
</html>