#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour,#minute,#second{
    position: absolute;
    /* background: black; */
    border-radius: 10px;

}
#hour{
    background: black;
    width: 1%;
    height: 21%;
    top: 29%;
    left: 49.5%;
    opacity: 0.8;
    transform-origin: bottom;
}
#minute{
    background: blue;
    width: 0.9%;
    height: 32%;
    top: 18%;
    left: 49.5%;
    opacity: 0.8;
    transform-origin: bottom;
}
#second{
    background: red;
    width: 0.26%;
    height: 40%;
    top: 10%;
    left: 49.8%;
    opacity: 0.8;
    transform-origin: bottom;
}